@use "styles/variables" as vars;

h3 {
  font-weight: 500;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: vars.$primary-color;
  color: white;
  border-radius: vars.$borderRadius;
  font-weight: bolder;
  font-size: 1.1rem;
  margin: auto;
  display: block;

  &:hover {
    cursor: pointer;
  }

  &.disabled{
    background-color: grey;

    &:hover{
      cursor: initial;
    }
  }
}

.error {
  color: red;
}
