@use "styles/variables" as vars;

div#article{

}

div#commentaires{

  form{
    display: flex;
    justify-content: center;
    gap: 25px;

    textarea{
      border-radius: vars.$borderRadius;
      width: 50%;
    }
    button{
      border: none;
      background: none;
      cursor: pointer;
      height: fit-content;
      width: fit-content;
      margin: auto 0;

      mat-icon{
        color: vars.$primary-color;
        transform: rotate(-45deg);
        font-size: 30px;
        padding: 10px;
      }
    }
  }
}
