<button class="back-btn" type="button" (click)="goBack()">
  <mat-icon>arrow_back</mat-icon>
</button>

<div id="content" *ngIf="article">
  <div id="article">
    <h3>{{ article.titre }}</h3>
    <p>{{ article.date | date:'dd MMM yyyy à HH:mm' }} <span>{{ article.username }}</span>
      <span>{{ article.themeName }}</span></p>
    <p class="contenu">{{ article.contenu }}</p>
  </div>

  <hr>

  <div id="commentaires">
    <p>Commentaires</p>
    <div *ngFor="let commentaire of article?.commentaires">
      <p>{{commentaire.username}} <span>{{ commentaire.message }}</span></p>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <!-- Contenu -->
      <textarea placeholder="Contenu du commentaire" id="content" formControlName="content" rows="5"></textarea>
      <button><mat-icon>send</mat-icon></button>
    </form>
  </div>

  <!-- Erreur backend -->
  <p class="error" *ngIf="error">{{ error }}</p>
  <!-- succès backend -->
  <p class="success" *ngIf="success">{{ success }}</p>
</div>

