@use "styles/variables" as vars;

button {
  padding: 10px 20px;
  border: none;
  background-color: vars.$primary-color;
  color: white;
  border-radius: vars.$borderRadius;
  font-weight: bolder;
  font-size: 1.1rem;
  margin: 25px;
  &:hover {
    cursor: pointer;
  }
}

p.error{
  color: red;
}
