.back-btn {
  position: absolute;
  top: 5rem;
  left: 5rem;
  border: none;
  background-color: white;

  &:hover{
    cursor: pointer;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 25%;
  margin: auto;
  margin-top: 2rem;

  label {
    display: flex;
    flex-direction: column;

    input{
      line-height: 35px;
      border: 1px solid black;
      border-radius: 10px;
    }

    small{
      color: red;
    }
  }

  button{
    width: 50%;
    padding: 10px 20px;
    border: none;
    background-color: violet;
    color: white;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 1.1rem;
    margin: auto;
    &:hover {
      cursor: pointer;
    }
  }

  .error {
    color: red;
  }

}
