@use "styles/variables" as vars;

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0 1rem;
  height: 64px;
  border-bottom: 1px solid #e0e0e0;
}

.logo img {
  height: 70px;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 2rem;

  button {
    background-color: white;
    border: none;
    color: #A40F0F;
    font-weight: 500;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: black;

    &.active {
      color: vars.$primary-color;
    }
  }
}

.account {
  display: flex;
  justify-content: flex-end;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(200, 200, 200, 0.3);
    border: none;
    padding: 0;
    cursor: pointer;

    &.active{
      border: 2px solid #7e57c2;
    }
  }

  button mat-icon {
    color: #7e57c2;
  }
}

.responsiveHeader{
  display: none;
}

//Responsive
@media (max-width: 750px) {
  .header {
    display: none;
  }
  .responsiveHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    height: 64px;
    border-bottom: 1px solid #e0e0e0;

    div.logo img{
      max-width: 100px;
      height: auto;
    }

    div:not(#responsiveNavBar).hidden{
      display: none;
    }
    div:not(#responsiveNavBar).visible{
      width: 50vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #8080809e;
      z-index: 9;
    }
    div#responsiveNavBar.hidden{
      display: none;
    }
    div#responsiveNavBar.visible{
      width: 50vw;
      height: 100vh;
      position: absolute;
      top: 0;
      right: 0;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 30px;
      padding-right: 15px;
      padding-top: 10px;
      z-index: 9;

      .nav {
        flex-direction: column;
        height: 80vh;
        align-items: end;
        justify-content: flex-start;
      }

      .account {
        position: relative;
        bottom: 0;
      }
    }

  }
}

@media (max-width: 400px) {
  div:not(#responsiveNavBar).visible{
    width: 25vw !important;
  }
  div#responsiveNavBar.visible {
    width: 75vw !important;
  }
}
