@use "styles/variables" as vars;

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0 1rem;
  height: 64px;
  border-bottom: 1px solid #e0e0e0;
}

.logo img {
  height: 70px;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 2rem;

  button {
    background-color: white;
    border: none;
    color: #A40F0F;
    font-weight: 500;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: black;

    &.active {
      color: vars.$primary-color;
    }
  }
}

.account {
  display: flex;
  justify-content: flex-end;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(200, 200, 200, 0.3);
    border: none;
    padding: 0;
    cursor: pointer;

    &.active{
      border: 2px solid #7e57c2;
    }
  }

  button mat-icon {
    color: #7e57c2;
  }
}
