<header class="header">
  <!-- Logo -->
  <div class="logo">
    <img src="/assets/logo_p6.png" alt="logo"/>
  </div>

  <!-- Navigation (uniquement connecté) -->
  <nav *ngIf="auth.isAuthenticated()" class="nav">
    <a routerLink="/app/articles" routerLinkActive="active">Articles</a>
    <button (click)="logout()">Logout</button>
  </nav>

  <!-- Compte (uniquement connecté) -->
  <div *ngIf="auth.isAuthenticated()" class="account">
    <button routerLink="/app/account">  <mat-icon>person</mat-icon></button>
  </div>
</header>
